# Pandas Assignmenet 3(B)

# Introduction:
The data have been modified to contain some missing values, identified by NaN.
Using pandas should make this exercise easier, in particular for the bonus question.

You should be able to perform all of these operations without using a for loop or other looping construct.

1. The data in 'wind.data' has the following format:

In [3]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

Each line corresponds to one day of data in the following format: year, month, day, average wind speed at each of the stations in the order given

RPT, VAL, ROS, KIL, SHA, BIR, DUB, CLA, MUL, CLO, BEL, MAL

### Step 1. Import the necessary libraries

In [6]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

### Step 2. Import the dataset from this address

In [8]:
data=pd.read_csv('pandas assign 2(b).csv')
data.head()

  Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
0  61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 1...
1  61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 1...
2  61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 1...
3  61  1  4 10.58  6.63 11.75  4.58  4.54  2.88  ...
4  61  1  5 13.33 13.25 11.42  6.17 10.71  8.21 1...

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [15]:
data.columns

Index(['Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL'], dtype='object')

In [17]:
data=pd.read_csv('pandas assign 2(b).csv')
data.head(),data.columns

(  Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
 0  61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 1...
 1  61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 1...
 2  61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 1...
 3  61  1  4 10.58  6.63 11.75  4.58  4.54  2.88  ...
 4  61  1  5 13.33 13.25 11.42  6.17 10.71  8.21 1...                              ,
 Index(['Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL'], dtype='object'))

In [ ]:
data['Date'] = pd.to_datetime(data[['Yr', 'Mo', 'Dy']].rename(columns={'Yr': 'year', 'Mo': 'month', 'Dy': 'day'}))

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [ ]:
data['Yr'] = data['Yr'].apply(lambda x: x + 1900 if x < 100 else x)

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [ ]:
data.set_index('Date', inplace=True)
data.drop(columns=['Yr', 'Mo', 'Dy'], inplace=True)
data = data.astype('float64')

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [28]:
missing_values_per_location = data.isna().sum()
missing_values_per_location

Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL    0
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [32]:
total_non_missing = data.count().sum()
total_non_missing

6574

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [ ]:
overall_mean_windspeed = data.mean().mean()

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days

#### A different set of numbers for each location.

In [43]:
data.describe()

       Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
count                                                6574
unique                                               6574
top     61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 1...
freq                                                    1

In [ ]:
loc_stats = data.describe().T[['min', 'max', 'mean', 'std']]

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [ ]:
day_stats = data.apply(['min', 'max', 'mean', 'std'], axis=1)

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [ ]:
jan_avg_windspeed = data[data.index.month == 1].mean()

### Step 12. Downsample the record to a yearly frequency for each location.

In [ ]:
yearly_windspeed = data.resample('Y').mean()

### Step 13. Downsample the record to a monthly frequency for each location.

In [ ]:
monthly_windspeed = df.resample('M').mean()

### Step 14. Downsample the record to a weekly frequency for each location.

In [ ]:
weekly_windspeed = df.resample('W').mean()

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [67]:
weekly_stats = data.resample('W-MON', origin='1961-01-02').agg(['min', 'max', 'mean', 'std']).iloc[:52]

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'